.Main-content {
  text-align: left;
  margin: 10px 200px;
}

html, body{
  background-image: url(BG.png);
  margin: auto;
}

.App-header {
  background-color: #00297a;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-header > button{
  margin: 0 5px;
}

.Dropdown {
  float: left;
  overflow: hidden;
}

.Dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #00297a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Header-content{
  padding: 0 10px;
}

.Kysymys{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #000000;
  font-weight: bold;
}

.Vastaus{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: normal;
}

.Image-nappi{
  height: 20px;
  width: 20px;
  opacity: 0.5;
}

.Image-nappi:hover{
  opacity: 1;
  cursor: pointer
}

.Isompi-image-nappi{
  height: 50px;
  width: 50px;
  float:right;
  margin: 0px 0px 0px auto;
  opacity: 0.5;
}

.Isompi-image-nappi:hover{
  opacity: 1;
  cursor: pointer;
}

.Nappi{
  padding: 0 10px;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
}

.Nappi:hover{
  color: white;
  cursor: pointer;
  background-color: black;
}
